#
# ~/.inputrc
#

# This prevents strange things from happening.
$include /etc/inputrc

set editing-mode vi
set show-mode-in-prompt on

# Search in the history when doing 'up' or 'down' motions.
$if mode=vi
	set keymap vi-command
	# these are for vi-command mode
	"\e[A": history-search-backward
	"\e[B": history-search-forward
	j: history-search-forward
	k: history-search-backward
	set keymap vi-insert
	# these are for vi-insert mode
	"\e[A": history-search-backward
	"\e[B": history-search-forward
$endif

# Different cursors for different modes.
# Via https://wiki.archlinux.org/title/Readline
$if term=linux
	set vi-ins-mode-string \1\e[?0c\2
	set vi-cmd-mode-string \1\e[?8c\2
$else
	set vi-ins-mode-string \1\e[6 q\2
	set vi-cmd-mode-string \1\e[2 q\2
$endif

# History expansion on the current line.
# Conditionals are needed to avoid problems.
# Via https://unix.stackexchange.com/a/315194
$if Bash
Space:magic-space
$endif

# Ignore filename case when autocompleting.
# Via https://www.webpro.nl/articles/getting-started-with-dotfiles
set completion-ignore-case on

# Single tab completion.
set show-all-if-ambiguous on

# Color files by types.
# This may cause completion text blink in some terminals (e.g. xterm).
# Via https://wiki.archlinux.org/title/Readline#Colorized_completion
set colored-stats on
# Append char to indicate type.
set visible-stats on
# Mark symlinked directories.
set mark-symlinked-directories on
# Color the common prefix.
set colored-completion-prefix on
# Color the common prefix in menu-complete.
set menu-complete-display-prefix on

# Disable ^C after Ctrl+C.
# Via https://wiki.archlinux.org/title/Readline#Disabling_control_echo
set echo-control-characters off
